  body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #DDF2FD;
}

nav {
  background-color: #427D9D;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  border-radius: 15px;
  margin-top: 20px;
}

.navbar-brand {
  font-size: 24px;
  color: #DDF2FD;
  text-decoration: none;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #DDF2FD;
  font-size: 18px;
}

.nav-link:hover {
  border-bottom: 2px solid #DDF2FD;
  padding-bottom: 3px;
}

.wrapper {
  min-height: 100%;
}

.content {
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: #DDF2FD;
  color: #427D9D;
  border: 10px solid #427D9D;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-column {
  flex: 1;
  text-align: center;
}

.form-control {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #9BBEC8;
}

.subscribe-btn {
  background-color: #9BBEC8;
  color: #427D9D;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.subscribe-btn:hover {
  background-color: #427D9D;
  color: #DDF2FD;
}

.social-link {
  margin-right: 10px;
}

.intro{
    color: #427D9D;
    font-size: 25px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.intro1{
    color: #427D9D;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: center;
}

h5{
    color: #427D9D;
    font-size: 25px;
    font-family: Arial, sans-serif;
}

.aboutImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
    width: 50%;
    font-family: Arial, sans-serif;
}
